


##landing-page{
    position: static;
}

/* HEADER */

#top-landing-page{
    background: url(img/bg-img.jpg);
    height: 80vh;
    min-height: 600px;
    width: auto;
    background-size: cover;
    padding: 20px;
}
@media screen and (max-width: 400px){
    #top-landing-page{
        height: 95vh;
    }
}
#top-landing-page header i{
    display: none;
}
@media screen and (max-width: 650px){
    #top-landing-page header i{
        display: flex;
        position: absolute;
        top: 40%;
        right: 0%;
        font-size: 22px;
        color: white;

    }
}


#top-landing-page header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 10%;
    width: auto;
    position: relative;
}
@media screen and (max-width: 1100px){
    #top-landing-page header{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}

#top-landing-page header h1{
    font-family: 'Righteous', cursive;   
    font-size: 30px;
    font-weight: 400;
    color: white;
    padding: 0 300px 0 0;
}
@media screen and (max-width: 1100px){
    #top-landing-page header h1{
        padding: 0;
    }
}
#top-landing-page h1 > span{
    color: rgb(255, 223, 118);
    transition: 0.5s ease-in-out;
}
#top-landing-page h1 > span:hover{
    margin-left: 10px;
    color: black;
}

#top-landing-page header nav a{
    padding: 12px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 1100px){
    #top-landing-page header nav{
        margin-top: 20px;
    }
}
@media screen and (max-width: 650px){
    #top-landing-page header nav{
        display: none;
    }
}

nav a:nth-of-type(6) {
    padding: 11px 23px 11px 23px !important;
    color: black !important;
    background: rgb(255, 223, 118);
    border-radius: 20px 20px 20px 20px;
    font-size: 5em;
    font-family: 'Yantramanav', sans-serif !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    transition: ease-out 0.3s;
  }
  nav a:nth-of-type(6):hover{
    color: white !important;
    background: rgb(255, 132, 56) !important;
  }


  /* In Top Landing Page */

.in-top-landing-page{
    margin: 70px 80px 0 80px;
    height: 470px;
    max-height: 1100px;
    
}
@media screen and (max-width: 1100px){
    .in-top-landing-page{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }
}
@media screen and (max-width: 400px){
    .in-top-landing-page{
        height: 490px;
    }
}
.in-top-landing-page::before{
    border-left: solid white 1px;
}



.in-top-landing-page h1{
    font-family: 'righteous', cursive;
    font-size: 400%;
    color: white;
    letter-spacing: 2px;
}
@media screen and (max-width: 400px){
    .in-top-landing-page h1{
        font-size: 50px;
    }
}

.in-top-landing-page > p{
    font-family: 'Yantramanav', sans-serif;
    color: white;
    margin: 30px 0;
    padding: 5px;
    width: 450px;
    height: 65px;
    background: rgba(53, 49, 49, 0.4);
    border: 1px white solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
}
@media screen and (max-width: 1100px){
    .in-top-landing-page > p{
        text-align: center;
        width: 500px;
        height: 100px;
        padding: 12px 4px 4px 4px;
        background: rgb(53, 47, 47, 0.4);
        border: 1px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        font-size: 17px;
    }
}
@media screen and (max-width: 650px){
    .in-top-landing-page > p{
        width: 400px;
        height: 110px;
    }
}
@media screen and (max-width: 400px){
    .in-top-landing-page > p{
        width: 300px;
        height: 125px;
    }
}
.in-top-landing-page > p i{
    display: none;
}
@media screen and (max-width: 1100px){
    .in-top-landing-page > p i{
        display: flex;
        position: absolute;
        font-size: 25px;
        top: 10%;
    }
}

.in-top-landing-page > a{
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 11px 23px 11px 23px;
    background: rgb(255, 223, 118);
    border-radius: 20px 20px 20px 20px;
    font-size: 17px;
    transition: 0.3s ease-out;
}
@media screen and (max-width: 650px){
    .in-top-landing-page > a{
        font-size: 16px;
    }
}
.in-top-landing-page > a:hover{
    color: white;
    background: rgb(255, 132, 56);
}

.search-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background : white;
    margin-top: 65px;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    width: 500px;
}
@media screen and (max-width: 650px){
    .search-nav{
        width: 400px;
        height: 35px;
    }
}
@media screen and (max-width: 400px){
    .search-nav{
        width: 300px;
        height: 35px;
    }
}

.search-nav a{
    text-decoration: none;
    color: black;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
}
@media screen and (max-width: 400px){
    .search-nav a{
        font-size: 14px;
    }
}

.search-nav i{
    font-size: 80%;
    color: orange;
    font-weight: 700;
    transition: 0.3s ease-out;
}
.search-nav i:hover{
    font-size: 89%;
}


.search-nav p{
    font-family: 'Yantramanav', sans-serif;
    font-size: 80%;
    color: rgb(121, 121, 121);
    margin-top: 10px;
}
@media screen and (max-width: 650px){
    .search-nav p{
        display: none;
    }
}

.explore-now{
    background:rgb(255, 223, 118);
    padding: 16px 23px 16px 23px;
    border-radius: 5px;
    transition: 0.4s ease-out;
}
@media screen and (max-width: 650px){
    .explore-now{
        padding: 12px 23px 12px 23px;
    }
}
@media screen and (max-width: 400px){
    .explore-now{
        padding: 6px 14px 6px 14px;
    }
}
.explore-now:hover{
    font-size: 120%;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: 0 8px 20px -6px rgb(203, 203, 203);
}
@media screen and (max-width: 650px){
    .explore-now:hover{
        font-size: 110%;
    }
}

/* BOTTOM LANDING PAGE */

#bottom-landing-page h1{
    margin-top: 25px;
    font-family: 'righteous', cursive;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    position: relative;
}
@media screen and (max-width: 400px){
    #bottom-landing-page h1{
        margin-top: 40px;
    }
}

#bottom-landing-page h1 img{
    max-width: 7%;
    position: absolute;
    right: 31%;
    top: 80%;
    transition: 0.7s ease-in-out;
}
@media screen and (max-width: 900px){
    #bottom-landing-page h1 img{
        display: none;
    }
}
#bottom-landing-page h1 img:hover{
    right: 31%;
    top: 76%;
}


/* Popular Place */

.popular-place{
    margin: 30px 0 0 110px;
    height: 180px;
    width: 400px;
}
@media screen and (max-width: 900px){
    .popular-place{
        margin: 50px auto;
    }
}
@media screen and (max-width: 400px){
    .popular-place{
        height: 500px;
        width: 300px;
    }
}
.popular-place h2{
    font-family:'Yantramanav', sans-serif;
    font-size: 20px;
    margin: 10px 0 15px 0;
}
@media screen and (max-width: 400px){
    .popular-place h2{
        text-align: center;
        padding-bottom: 10px;
    }
}


.popular-place i{
    margin-right: 6px;
    color: rgb(255, 111, 0);
}

.countries{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 400px){
    .countries{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 430px;
    }
}
.popular-place img{
    border-radius: 12px;
    object-fit: cover;
    transition: ease-out 0.3s;
}
.popular-place img:hover{
    transform: rotate(1deg);
    width: 135px;
    height: 135px;
}

/* Location Card - ASIDE */

#location{
    box-shadow: 0 8px 20px -6px rgb(203, 203, 203);
    border-radius: 10px;
    position: absolute;
    right: 10%;
    top: 69%;
    height: 270px;
    width: 200px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s ease-out;
}
@media screen and (max-width: 1100px){
    #location{
        right: 5%;
        top: 84%;
        height: 220px;
        width: 150px;
    }
}
@media screen and (max-width: 900px){
    #location{
        display: none;
    }
}
#location:hover{
    top: 68%;
}
@media screen and (max-width: 1100px){
    #location:hover{
        top: 83%;
    }
}

/* Location card IMAGE */
.location-img{
    background: url(img/location.jpg);
    height: 120px;
    width: 170px;
    border-radius: 5px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}
@media screen and (max-width: 1100px){
    .location-img{
        height: 80px;
        width: 130px;
    }
}
.location-img i{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 29%;
    right: 37%;
}
@media screen and (max-width: 1100px){
    .location-img i{
        font-size: 25px;
        top: 30%;
        right: 40%;
    }
}
.location-img > p{
    position: absolute;
    font-family:'Yantramanav', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 17px;
    top: 65%;
    right: 31%;
}

#location img{
    object-fit:cover;
    border-radius: 50px;
    border: white 1px solid;
    position: absolute;
    top: 38%;
    right: 13%;
}
@media screen and (max-width: 1100px){
    #location img{
        display: none;
    }
}
.choose{
    font-family:'Yantramanav', sans-serif;
    margin: 0 10px;
    text-align: center;
}
.location-button{
    margin-bottom: 20px;
    background: rgb(135, 49, 255);
    color: white;
    font-family: 'righteous', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    border-radius: 5px;
    box-shadow: 8px 8px 15px -6px rgb(100, 139, 255);
    width: 80%;
    height: 35px;

}



/* FOOTER */

.footer{
    height : 60px;
    min-height: 60px;
    width: auto;
    margin-top: 30px;
    background: rgb(96, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 650px){
    .footer{
        justify-content: center;
        align-items: center;
    }
}

.footer-content{
    font-family:'Yantramanav', sans-serif;
    font-weight: thin;
    font-size: 13px;
    width: 410px;
    margin: 5px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
@media screen and (max-width: 650px){
    .footer-content{
        display: none;
    }
}

.footer-content p{
    padding: 5px;
}
@media screen and (max-width: 1100px){
    .footer-content p{
        font-size: 13px;
    }
}
@media screen and (max-width: 900px){
    .footer-content p{
        font-size: 10px;
    }
}

.footer-option{
    font-family:'Yantramanav', sans-serif;
    width: 450px;
}
@media screen and (max-width: 650px){
    .footer-option{
        display: none;
    }
}
.footer-option a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1100px){
    .footer-option a{
        font-size: 13px;
        padding: 15px;
    }
}
@media screen and (max-width: 900px){
    .footer-option a{
        padding: 10px;
        font-size: 11px;
    }
}
.footer-option i{
    padding: 3px;
}

.more-info{
    display: none;
}
@media screen and (max-width: 650px){
    .more-info{
        display: flex;
        color: white;
        font-size: 15px;
        font-family:'Yantramanav', sans-serif;
        padding: 0px 30px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 650px){
    .more-info a i{
        text-decoration: none;
        color: white;
    }
}
